.col1{
    float: left;
    width: 10%;
    background-color: brown;
    height: 100%;
}
.col2{
    float: left;
    width: 90%;
    background-color: blueviolet;
    height: 100%;
}

.row1{
    text-align: center;
    background-color: green;
    height: 10%;
}

.row2{
    text-align: center;
    background-color: yellow;
    height: 900%;
}